<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <style>
        /* Reset styles */
        body, html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-image:url("https://mm.toastmastersnepal.org/images/tin_citation_2023.jpg");
			background-repeat: no-repeat;
			background-position: center center;
        }
        a{
			color:#F2DF74 !important;
			background-color: #1c3c53;
		}
		
		h2 a{
			color:#F2DF74 !important;
		}
		
		
        /* Wrapper styles */
        .email-wrapper {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
        /* Header styles */
        .email-header {
            background-color: #692a33;
            color: #fff;
            padding: 10px;
            text-align: center;
            border-radius: 8px 8px 0 0;
        }
        /* Content styles */
        .email-content {
            padding: 20px;
            background-color: #fff;
            border-radius: 0 0 8px 8px;
        }
        /* Button styles */
        .email-button {
            display: inline-block;
			font-weight:bold;
            background-color: #1c3c53;
            color: #F2DF74;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 4px;
            margin-top: 15px;
        }
        /* Footer styles */
        .email-footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.8em !important;
            color: #1c3c53;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
		<div align="center"><a href="https://toastmasters.org/">#LOGO#</a></div>
        <div class="email-header">
            <a href="https://toastmastersnepal.org/"><h2><strong>Toastmasters in Nepal (TIN)</strong></h2></a>
        </div>
        <div class="email-content">
            #CONTENT#
        </div>
        <div class="email-footer">
            <p>&copy; 2014 <a href="#PATH#">#SITE_NAME#</a>. All rights reserved.</p>
        </div>
    </div>
</body>
</html>